#mainDiv {
    margin-top:20rem;
    margin-left: -1.5em;
    color: black;
    text-align: center;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    animation: fadein 2s;
}


#mainImg {
    opacity: 40%;
    width: 100%;
    height: 80vh;
    background-position: center;
    /* Make the background image cover the area of the <div>, and clip the excess */
    object-fit: cover;
}

/* Centered text */
#content {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: black;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#overviewTitle {
    font-size: 3em;
    font-weight: bold;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 3;
    font-family: Arial, serif;
    animation: fadeIn 5s infinite;

}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


#overviewBody {
    font-size: 2em;
}