.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: -1%;
    margin-top: 3%;
    margin-right: auto;
}
.table thead tr {
    background-color: #26FFDF;
    color: #ffffff;
    text-align: left;
}
.tr {
    background-color: #26FFDF;
    color: #ffffff;
    text-align: left;
}



.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #26FFDF;
}

.table th,
.table td {
    padding: 12px 15px;
}

#leaderBoard {
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

#topPlayers{
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
    color:  black;
    text-align: center;
}
#emptyTableRankings{
    animation: tilt 1s ease-in-out infinite alternate;
}
a {
    text-decoration: none;
}

a:hover {
    color: #26FFDF;
}

.centered{
    width: 33%;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    background-color: #26FFDF;
}


.td{
    border-left: 2px dashed #26FFDF;
    border-right: 2px dashed #26FFDF;
}

#username{
    font-weight: 700;
}

