.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    font-size: 1.2rem;
    margin: 0 auto;
    text-align: center;
}

.thead {
    background-color: #f2f2f2;
    padding: 5em;
}

.tr {

}