.text {
    position: absolute;
    top: 34em;
    right: 1em;
    width: 9em;
    height: 2em;
    font-weight: bold;
    color: black;
    font-size: larger;
    border-radius: 0.2em;
}

#logged {
    display: inline-block;
}

#loggedText {
    margin-right: 0.5em;
}


.logoutLink {
    border-radius: 0.2em;
    background: black;
    padding: 10px 22px;
    color: white;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    /* Second Nav */
    margin-left: 24px;
}

.logoutLink:hover {
     transition: all 0.2s ease-in-out;
     color: #000000;
     background-color: #26FFDF;
 }




#notLogged {
    position: fixed;
}


